@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.image{
  width: 100px;
  height: 50px;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("black.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}
.title{
  color: white;
  font-family: Edwardian Script ITC;
  font-size: 50px;
  margin-left: 380px;
  margin-top: 0;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 3px solid #4caf50;
  padding: 13px 40px;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin: 12px 90px;
  margin-bottom: 50px;
  padding: 13px 0
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid  #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
} 
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
.btn:hover{
  color: lightgreen;
}
.role{
  width: 30%;
  overflow: hidden;
  font-size: 20px;
  padding: 7px 0;
  margin: 4px 0;
  border: 1px solid  #4caf50;
}
.role select{
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 15px;
  margin: 0 10px;
}
.link{
  color: #4caf50;
}
.link:hover{
  color: lightgreen;
}
.signup{
  font-size: 18px;
  padding: 5px;
  margin: 12px 57px;
}